<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--本機端-->
    <add name="LifeDBConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\inetpub\LifeBuildC\LifeBuildC\DB\LifeDB.mdb" providerName="System.Data.OleDb" />
    <!--<add name="GoogleSheetsConnectionString" connectionString="initiate oauth=GETANDREFRESH;oauth client id=117990626740-rptck4cro3bpbu3u7da3t4qlr20i3rsl.apps.googleusercontent.com;oauth client secret=zcFr6UCqdX-jo29QFogCcyf1;oauth settings location=C:\client_secret_117990626740-rptck4cro3bpbu3u7da3t4qlr20i3rsl.apps.googleusercontent.com.json;spreadsheet=無標題的試算表" providerName="System.Data.CData.GoogleSheets" />-->
    
    <!--Server端-->
    <!--<add name="LifeDBConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\DZHosts\LocalUser\jolin5491\www.churchexam.somee.com\DB\LifeDB.mdb" providerName="System.Data.OleDb" />-->
    <!--<add name="GoogleSheetsConnectionString" connectionString="initiate oauth=GETANDREFRESH;oauth client id=117990626740-rptck4cro3bpbu3u7da3t4qlr20i3rsl.apps.googleusercontent.com;oauth client secret=zcFr6UCqdX-jo29QFogCcyf1;oauth settings location=d:\DZHosts\LocalUser\liutan\www.churchexam.somee.com\client_secret_117990626740-rptck4cro3bpbu3u7da3t4qlr20i3rsl.apps.googleusercontent.com.json;spreadsheet=無標題的試算表" providerName="System.Data.CData.GoogleSheets" />-->
    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CData.GoogleSheets.System" publicKeyToken="cdc168f89cffe9cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>